@import '../../sass/abstracts/variables';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    transition: all 250ms ease-in;
    background: transparent;
    color: $color-white;

    @media screen and (max-width: 640px) { 
        display: none;
    }

    &.mobile {
        display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 5rem;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		opacity: 1;
		transition: all 0.2s ease;
		background-color: rgba(0,0,0,.9);
		z-index: 99;
		cursor: pointer;

        & .navbar__list {
            display: inline-block;
        }

        & .navbar__link {
			font-size: 2.6rem;
            padding: 2.6rem 0;
		}
    }

    &.scrolled {
        background-color: #242424;
        padding: 0;
    }

    &__list {
        list-style: none;
        display: flex;
      }
      
    &__link {
        padding: 1rem 2.9rem;
        text-decoration: none;
        color: inherit;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1.7px;
        font-size: 1.6rem;
        transition: all .2s ease;

        &.scrolled {
            padding: .6rem 1.8rem;
            letter-spacing: 1px;
            font-size: 1.5rem;
        }

        &:hover {
            border-bottom: 2px solid $color-primary;
            transform: translateY(-3px);
        }

    }

    &__toggle {
		color: gray;
		padding: 1rem 2rem; 
		border: 1px solid gray;
		border-radius: 1rem;
		margin: auto;
		cursor: pointer;
		font-size: 4.2rem;
		z-index: 9999;
		position: fixed;
		top: 4rem;
		right: 6rem;
		display: none;

		@media screen and (max-width: 640px) {
			display: block;
		}
	}
}
 
